# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
KL25z_controler/RTE/Device/MKL25Z128xxx4/system_MKL25Z4.h
*.s
KL25z_controler/RTE/Device/MKL25Z128xxx4/system_MKL25Z4.c
KL25z_controler/RTE/_Target_1/RTE_Components.h
*.crf
*.dep
*.lnp
*.htm
*.axf
*.uvprojx
*.uvoptx
KL25z_controler/gyroscope.uvguix.pawel
*.lst
*.ini
KL25z_controler/JLinkLog.txt
